@{
    ViewData["Title"] = "Home Page";
}


<section class="main_slider_area">
    <div class="container" style="min-height: 100vh; padding-top: 25vh">
        <div class="row">
            <div class="col-md-4 mt-5 mb-5">
                <h1 style="line-height: 70px; font-size: 52px">Welcome to Blood Donation NGO</h1>
            </div>
            <div class="col-md-6 offset-md-2">
                <img src="~/img/banner/blood.png" class="img-fluid" style="max-height:400px" />
            </div>
        </div>
    </div>
</section>


<section class="best_3d_area">
    <div class="left_3d">

    </div>
    <div class="right_text">
        <div class="right_text_inner">
            <div class="text_3d">
                <div class="l_title">
                    <img src="img/icon/title-icon.png" alt="">
                    <h6>About Us</h6>
                    <h2>We aim to save many lives</h2>
                </div>
                <p>Transfusion of blood is an essential part of modern health care management. Our NGO is fully equipped to collect blood within the premises of the Blood Bank and also has mobile teams which go out regularly to hold Blood Donation Camps. Blood Donation Camps are organized in schools, colleges and other places with the help of religious, social, political, commercial, and military / paramilitary organizations.</p>
            </div>
            <div class="shap_mobile mt-5">
                <img src="~/img/banner/donate.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="feature_area">
    <div class="container">
        <div class="c_title">
            <img src="img/icon/title-icon.png" alt="">
            <h6>Become a Donar</h6>
            <h2>Before Your Donation</h2>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="img/icon/f-icon-1.png" alt="">
                    </div>
                    <h4>Make an Appointment</h4>
                    <p>Select a donation date, time and a convenient center that works best for you.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="img/icon/f-icon-2.png" alt="">
                    </div>
                    <h4>Get the Dish on Nutrition</h4>
                    <p>Have iron-rich foods, such as red meat, fish, poultry, beans, spinach, iron-fortified cereals or raisins.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="img/icon/f-icon-3.png" alt="">
                    </div>
                    <h4>Be Well Rested and Hydrate</h4>
                    <p>Get a good night's sleep the night before your donation, eat healthy foods and drink extra liquids.</p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="world_map_area p_100">
    <div class="container">
        <div class="world_map_inner">
            <img class="img-fluid" src="img/world-map.png" alt="">
            <div class="bd-callout">
                <h3>Head Office</h3>
                <p>123, Airport Road, Ontario <br /> Canada</p>
                <h4>
                    <a href="#">+1 223378 559</a>
                    <a href="#"><span class="__cf_email__">contact@domain.com</span></a>
                </h4>
            </div>
        </div>
    </div>
</section>
